.btn {
	padding: 0.8em;
	font-size: 18px;
	border-radius: 18px;
	cursor: pointer;
	transition: scale 300ms ease-out;
	text-decoration: none;
}
.btn:hover {
	scale: 1.1;
}
.btn-orange {
	background: var(--btn-color);
	border: none;
	color: var(--white);
}
